/*#region MAIN STYLES*/
:root {
    --white: #ffffff;
    --off-white: #e6e6e6;
    --dark: #2d2d2d;
    --green: #00aa63;
    --red: #d53d3d;
    --table-blue: #324960;
    --table-green: #4fc3a1;
    --table-gray: lightslategray;
    --table-skyblue: lightskyblue;
    --border-radius: 5px;
    --box-shadow: 0 0 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    --scrollbar-dark: #494d59;
    --scrollbar-light: #b6b8bd;
    --scrollbar-hover: #6d717a;
}

[data-theme="light"] {
    --color-bg: var(--white);
    --color-fg: var(--dark);
    --table-odd: var(--off-white);
    --table-even: #f8f8f8;
    --scrollbar: var(--scrollbar-light);
}

[data-theme="dark"] {
    --color-bg: var(--dark);
    --color-fg: var(--white);
    --table-odd: var(--table-gray);
    --table-even: var(--table-skyblue);
    --scrollbar: var(--scrollbar-dark);
}

body,
html {
    background-color: var(--color-bg);
    font-family: 'Futura PT', sans-serif;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

#main-page {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: overlay;
}

header {
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    z-index: 1;
    box-shadow: var(--box-shadow);
}

header>div {
    width: auto;
    height: 100%;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

header>div>img {
    height: auto;
    width: calc(8vw);
    max-width: 40px;
    margin: 0 5px 5px;
}

h1 {
    color: var(--color-fg);
    font-size: calc(1vw + 1vh + 5px);
    text-transform: uppercase;
    font-weight: 600;
}

h2 {
    display: inline-block;
    margin-left: 40px;
    color: var(--color-fg);
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
    border-radius: 5px;
    padding: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    max-width: 95%;
}

h2[contenteditable="plaintext-only"]:empty:before {
    content: attr(placeholder);
    color: rgba(255, 255, 255, 0.5);
    font-style: italic;
}

.header-login-btn,
.header-signout-btn {
    width: auto;
    min-width: 80px;
    height: 35px;
    color: var(--white);
    background: var(--green);
    border-radius: var(--border-radius);
    position: absolute;
    right: 15px;
    box-shadow: var(--box-shadow);
    outline: none;
    text-align: center;
    border: 1px solid transparent;
    letter-spacing: 1px;
    text-shadow: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}

.header-signout-btn {
    background: var(--red);
}

.header-login-btn:hover,
.header-signout-btn:hover {
    color: var(--dark);
    transform: scale(1.05);
}

.header-login-btn:active,
.header-signout-btn:active {
    color: var(--dark);
    transform: scale(0.95);
}

.header-login-btn::after {
    content: "Login";
    font-weight: 800;
    text-transform: uppercase;
}

.header-signout-btn::after {
    content: "Sign Out";
    font-weight: 800;
    text-transform: uppercase;
}

.fa-solid {
    padding-right: 5px;
}

#darkmodetoggle-container {
    position: absolute;
    right: 110px;
    box-shadow: var(--box-shadow);
    border-radius: 50px;
    border: 1px solid var(--color-fg);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: var(--color-bg);
    width: 40px;
    height: auto;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.checkbox-label .ball {
    background-color: var(--color-fg);
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--scrollbar);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover);
}

::-webkit-scrollbar-thumb:active {
    background: var(--scrollbar);
}

.disabled-btn {
    pointer-events: none;
    background: lightgray !important;
    border-color: lightgray !important;
}

.button-onClick {
    width: 40px !important;
    height: 40px !important;
    min-width: 0 !important;
    border-color: #bbbbbb !important;
    border-width: 3px !important;
    font-size: 0 !important;
    cursor: progress !important;
    background: transparent !important;
    border-left-color: var(--green) !important;
    -webkit-animation: rotating .75s 0.25s linear infinite;
    animation: rotating .75s 0.25s linear infinite;
    border-radius: 50% !important;
    box-shadow: none !important;
    pointer-events: none;
}

.button-onClick:after {
    content: "";
}

@-webkit-keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.pop-up {
    height: 100%;
    width: 100%;
    z-index: 899;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    background: var(--table-green);
    display: none;
    -webkit-animation-name: content;
    animation-name: content;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.show {
    display: inline-grid !important;
}

@-webkit-keyframes content {
    from {
        opacity: 0;
        transform: translateY(5%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes content {
    from {
        opacity: 0;
        transform: translateY(5%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.disable-click {
    pointer-events: none;
}

/*#endregion MAIN STYLES*/

/*#region LOGIN SCREEN*/
.login-wrapper {
    overflow: auto;
    max-width: 445px;
    max-height: 400px;
    background: var(--white);
    padding: 30px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: inline-grid;
    justify-content: center;
    align-content: center;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.login-close-button {
    outline: 0;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 45px;
    height: 45px;
    border: 0;
    background: 0;
    padding: 0;
    cursor: pointer;
    fill: var(--dark);
}

.login-close-button>svg:hover {
    fill: var(--green);
}

.login-error {
    animation-name: login-error;
    animation-duration: .5s;
    transform-origin: 50% 50%;
    animation-iteration-count: 1;
    border-color: var(--red) !important;
    color: var(--red) !important;
}

@keyframes login-error {
    0% {
        transform: translate(2px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(0px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(2px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(2px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.login-wrapper .login-title-text {
    display: flex;
    width: 200%;
}

.login-wrapper .login-title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: var(--background);
}

.login-wrapper .login-form-container {
    width: 100%;
    overflow-x: hidden;
    height: auto;
    max-height: 110vh;
    padding-top: 20px;
}

.login-form-container .login-form-inner {
    display: flex;
    width: 200%;
}

.login-form-container .login-form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.login-form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    display: inline-flex;
}

.login-click {
    left: 45%;
    margin-bottom: 10px !important;
    width: 50px !important;
    border-radius: 40px !important;
    animation: rotating .75s 0.25s linear infinite;
}

.login-click>div {
    height: 0 !important;
    width: 0 !important;
}

.login-click>input {
    border-left-color: var(--green) !important;
    border-width: 3px !important;
    border-left-style: solid !important;
    border-radius: 40px !important;
}

.login-form-inner form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 15px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.login-form-inner form .field input:focus {
    border-color: var(--green);
    box-shadow: inset 0 0 3px var(--green);
}

.login-form-inner form .field input::placeholder {
    color: #999;
    transition: all 0.3s ease;
}

form .field input:focus::placeholder {
    color: var(--green);
}

.eye-icon {
    width: 18px;
    margin-left: -18px;
    padding-right: 0;
    transform: translateX(-10px);
    background: transparent;
    position: relative;
    display: inline-flex;
    align-items: center;
    color: var(--dark);
    cursor: pointer;
}

form .btn {
    height: 50px;
    width: 100%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

form .btn .btn-layer {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: var(--green);
    border-radius: 15px;
    transition: all 0.4s ease;
}

form .btn:hover .btn-layer {
    left: 0;
    background: var(--table-green);
}

form .btn input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: var(--white);
    padding-left: 0;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

/*#endregion LOGIN SCREEN*/

/*#region NOTIFICATION TOAST*/
.toast {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: var(--border-radius);
    background: var(--white);
    padding: 20px 35px 20px 25px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 999;
}

.toast.active {
    transform: translateX(0%);
}

.toast .toast-content {
    display: flex;
    align-items: center;
}

.toast-content .bell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: var(--toast-status);
    color: var(--white);
    font-size: 20px;
    border-radius: 50%;
    padding-right: 0;
}

.toast-content .toast-message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.toast-message span {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    overflow: auto;
    overflow-wrap: break-word;
}

.toast-message span.toast-title {
    font-weight: 600;
    color: var(--toast-status);
}

.toast .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.toast .close:hover {
    opacity: 1;
}

.toast .toast-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
}

.toast .toast-progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.toast-progress.active:before {
    animation: toast-progress var(--toast-duration) linear forwards;
    background-color: var(--toast-status);
}

@keyframes toast-progress {
    100% {
        right: 100%;
    }
}

/*#endregion NOTIFICATION TOAST*/

/*#region SEMESTER ACCORDIANS*/
#semesters-container {
    list-style: none;
    padding: 0;
    margin: 0 20px;
    animation: flipdown 0.5s ease both;
}

#semesters-container li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-bottom: 1px solid var(--scrollbar-light);
    animation: flipdown 0.5s ease both;
}

#semesters-container li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 40px;
    z-index: 1;
    opacity: 0;
}

#semester-i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
}

#semester-i:before,
#semester-i:after {
    content: "";
    position: absolute;
    background-color: var(--color-fg);
    width: 3px;
    height: 9px;
    transition: all 0.25s ease-in-out;
}

#semester-i:before {
    transform: translate(-2px, 0) rotate(45deg);
}

#semesters-container li input[type=checkbox]:checked~#semester-i:before {
    transform: translate(2px, 0) rotate(45deg);
}

#semester-i:after {
    transform: translate(2px, 0) rotate(-45deg);
}

#semesters-container li input[type=checkbox]:checked~#semester-i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}

#semesters-container li input[type=checkbox]:checked~li {
    max-height: 50px;
}

#semesters-h2 {
    line-height: 34px;
    font-weight: 500;
    letter-spacing: 1px;
    display: block;
    color: var(--color-fg);
    margin: 0;
    cursor: pointer;
    text-align: left;
    text-transform: uppercase;
}

#semesters-container li input[type=checkbox]:checked~div {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
    ;
}

#semesters-container div {
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 0.25s ease-in-out;
}

#semesters-container li:nth-of-type(1) {
    animation-delay: 0.25s;
}

#semesters-container li:nth-of-type(2) {
    animation-delay: 0.5s;
}

#semesters-container li:nth-of-type(3) {
    animation-delay: 0.75s;
}

#semesters-container li:nth-of-type(4) {
    animation-delay: 1s;
}

#semesters-container li:nth-of-type(5) {
    animation-delay: 1.25s;
}

#semesters-container li:nth-of-type(6) {
    animation-delay: 1.5s;
}

#semesters-container li:nth-of-type(7) {
    animation-delay: 1.75s;
}

#semesters-container li:nth-of-type(8) {
    animation-delay: 2s;
}

@keyframes flipdown {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }

    5% {
        opacity: 1;
    }

    80% {
        transform: rotateX(8deg);
    }

    83% {
        transform: rotateX(6deg);
    }

    92% {
        transform: rotateX(-3deg);
    }

    100% {
        transform-origin: top center;
        transform: rotateX(0deg);
    }
}

/*#endregion SEMESTER ACCORDIANS*/

/*#region TABLE CONTAINER & TABLES*/
#tables-container {
    height: calc(100% - 70px);
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow: overlay;
}

.table-wrapper {
    margin: 50px auto;
    box-shadow: var(--box-shadow);
    background: var(--color-bg);
    width: 95%;
    border-radius: 10px;
}

.table-items {
    margin: auto;
    border-radius: 10px;
    border: none;
    padding: 20px 20px 20px 0;
    width: 97.5%;
    white-space: nowrap;
    background-color: var(--color-bg);
    border-collapse: separate;
    border-spacing: 5px 5px;
    display: block;
    overflow: auto;
}

.table-items th {
    color: var(--white);
    background: var(--table-blue);
    border-radius: 5px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 8px;
    min-width: 220px;
    box-shadow: var(--box-shadow);
}

.table-items td {
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    color: #000000;
    background: var(--table-even);
    text-align: center;
    padding: 8px;
    box-shadow: var(--box-shadow);
}

/*#region Table Folds*/
.empty-th {
    background: transparent !important;
    box-shadow: none !important;
    min-width: 0 !important;
    padding: 0 !important;
}

.view-td {
    padding: 0;
    background: transparent !important;
    box-shadow: none !important;
    text-align: center !important;
    cursor: pointer;
}

.view-td:hover {
    transform: scale(1.25);
}

.view-td:active {
    transform: scale(0.95);
}

.fa-caret-down,
.fa-caret-up {
    padding-right: 0 !important;
    color: var(--color-fg);
    filter: drop-shadow(0 0 3px var(--color-fg));
}

.fold {
    display: none;
}

.fold-open {
    display: table-row;
}

.fold-main-td {
    background: transparent !important;
    box-shadow: none !important;
    padding: 10px 0 !important;
}

.fold-div {
    padding-left: 50px;
}

.fold-div>table {
    border-spacing: 5px 5px;
}

.fold-div th {
    background: var(--table-green);
}

.fold-div td {
    background: var(--table-odd);
}

/*#endregion Table Folds*/

/*#region Table Actions*/
#table-buttons {
    height: 60px;
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.table-btn {
    width: auto;
    min-width: 80px;
    height: 35px;
    color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    outline: none;
    text-align: center;
    border: 1px solid transparent;
    letter-spacing: 1px;
    text-shadow: none;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.25s ease;
}

.table-btn:hover {
    color: var(--dark);
    transform: scale(1.05);
}

.table-btn:active {
    color: var(--dark);
    transform: scale(0.95);
}

#save-btn {
    background: var(--green);
}

#save-btn::after {
    content: "Save";
    font-weight: 800;
    text-transform: uppercase;
}

#addrow-btn {
    background: var(--table-gray);
}

#addrow-btn::after {
    content: "Add Goal";
    font-weight: 800;
    text-transform: uppercase;
}

#delete-btn {
    background: var(--red);
}

#delete-btn::before {
    content: "\f1f8";
    font-family: 'Font Awesome 6 Free';
    padding-right: 5px;
}

#delete-btn::after {
    content: "Delete";
    font-weight: 800;
    text-transform: uppercase;
}

#done-btn {
    background: var(--green);
}

#done-btn::before {
    content: "\f00c";
    font-family: 'Font Awesome 6 Free';
    padding-right: 5px;
}

#done-btn::after {
    content: "Done";
    font-weight: 800;
    text-transform: uppercase;
}

.delete-td {
    background-color: transparent !important;
    cursor: pointer;
    box-shadow: none !important;
}

.delete-td::after {
    content: "\f1f8";
    font-size: 20px;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-style: normal;
    color: var(--red);
    filter: drop-shadow(0px 0px 6px var(--red));
}

.delete-td:hover {
    transform: scale(1.05);
}

.delete-td:active {
    transform: scale(0.95);
}

.empty-td {
    background: transparent !important;
    box-shadow: none !important;
}

.editable:focus {
    outline: 2px solid var(--off-white);
}

th[contenteditable="plaintext-only"]:empty:before {
    content: attr(placeholder);
    color: rgba(255, 255, 255, 0.5);
    font-style: italic;
}

td[contenteditable="plaintext-only"]:empty:before {
    content: attr(placeholder);
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
}

/*#endregion Table Actions*/

/*#endregion TABLE CONTAINER & TABLES*/

/*#region MOBILE RESPONSIVENESS*/
@media (max-width: 767px) {
    .login-wrapper {
        transform: scale(0.9);
    }

    h2 {
        font-size: 22px;
        margin-left: 20px;
    }

    .toast {
        left: 0;
    }
}

/*#endregion MOBILE RESPONSIVENESS*/