/*#region MAIN STYLES*/
:root {
  --text: #fff;
  --text-hover: #ffffff8a;
  --blue: #008ae3;
  --disabled: #C3C8DE;
  --background: #2d2d2d;
  --background-light: #2d2d2d85;
  --green: #00aa63;
  --red: #f04545;
  --border-radius: 15px;
  --box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

body,
html {
  background-color: var(--background);
  font-family: 'Open Sans';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-items: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow: overlay;
}

h2 {
  color: var(--green);
  font-size: calc(2vw + 1vh);
  text-transform: uppercase;
}

p {
  color: var(--text);
  padding: 0 20px;
  font-size: calc(.5vw + 1vh);
}

.main-image {
  height: auto;
  max-width: 90%;
  max-height: 90%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: #fff;
}

/*#endregion MAIN STYLES*/

/*#region LOGIN SCREEN*/
.content-login {
  width: 450px;
  height: auto;
  margin: 0 auto;
  padding: 30px;
}

.nav-pills {
  width: 450px;
}

.nav-item {
  width: 50%;
}

.nav-pills .nav-link {
  font-weight: bold;
  padding-top: 13px;
  text-align: center;
  background: #343436;
  color: #fff;
  border-radius: 30px;
  height: 100px;
}

.nav-pills .nav-link.active {
  background: #fff;
  color: #000;
}

.login-content {
  position: absolute;
  width: 450px;
  height: auto;
  margin-top: -50px;
  background: #fff;
  color: #000;
  border-radius: 30px;
  z-index: 1000;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin-bottom: 50px;
}

.login-content button {
  border-radius: 15px;
  width: 100px;
  margin: 0 auto;
  float: right;
}
/*#endregion LOGIN SCREEN*/

/*#region PAGE TABS*/
.tabs {
  position: relative;
  background: none;
  width: 95%;
  height: 95%;
  border-radius: var(--border-radius);
  min-width: 240px;
}

.tab-content {
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
}

.tab-grids {
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.tabs input[name=tab-control] {
  display: none;
}

.tabs .content section h1,
.tabs ul li label {
  color: var(--background-light);
  font-size: calc(1vw + 0.75vh);
  text-transform: uppercase;
}

.tabs-ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--green);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  height: 5%;
  margin: auto
}

.tabs-ul li {
  box-sizing: border-box;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}

.tabs-ul li label {
  transition: all 0.3s ease-in-out;
  color: var(--background-light);
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tabs-ul li label br {
  display: none;
}

.tabs-ul li label svg {
  fill: var(--background-light);
  height: 1.2em;
  vertical-align: top;
  margin-right: .2em;
  transition: all 0.2s ease-in-out;
}

.tabs-ul li label:hover,
.tabs-ul li label:focus,
.tabs-ul li label:active {
  outline: 0;
  color: var(--text-hover);
}

.tabs-ul li label:hover svg,
.tabs-ul li label:focus svg,
.tabs-ul li label:active svg {
  fill: var(--text-hover);
}

.tabs .slider {
  position: relative;
  width: 25%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

.tabs .slider .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: var(--text);
  border-radius: var(--border-radius);
}

.tabs .content {
  margin-top: 30px;
}

.tabs .content section {
  display: none;
  -webkit-animation-name: content;
  animation-name: content;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  line-height: 1.4;
}

.tabs .content section h1 {
  color: var(--green);
  display: none;
}

.tabs .content section h1::after {
  content: "";
  position: relative;
  display: block;
  width: 25%;
  height: 3px;
  background: var(--text);
  margin-top: 5px;
  left: 1px;
}

.tabs input[name=tab-control]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
  cursor: default;
  color: var(--text);
}

.tabs input[name=tab-control]:nth-of-type(1):checked~ul>li:nth-child(1)>label svg {
  fill: var(--text);
}

.tabs input[name=tab-control]:nth-of-type(1):checked~.slider {
  transform: translateX(15%);
}

.tabs input[name=tab-control]:nth-of-type(1):checked~.content>section:nth-child(1) {
  display: inline-grid;
}

.tabs input[name=tab-control]:nth-of-type(2):checked~ul>li:nth-child(2)>label {
  cursor: default;
  color: var(--text);
}

.tabs input[name=tab-control]:nth-of-type(2):checked~ul>li:nth-child(2)>label svg {
  fill: var(--text);
}

.tabs input[name=tab-control]:nth-of-type(2):checked~.slider {
  transform: translateX(148.5%);
}

.tabs input[name=tab-control]:nth-of-type(2):checked~.content>section:nth-child(2) {
  display: inline-grid;
}

.tabs input[name=tab-control]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
  cursor: default;
  color: var(--text);
}

.tabs input[name=tab-control]:nth-of-type(3):checked~ul>li:nth-child(3)>label svg {
  fill: var(--text);
}

.tabs input[name=tab-control]:nth-of-type(3):checked~.slider {
  transform: translateX(282.5%);
}

.tabs input[name=tab-control]:nth-of-type(3):checked~.content>section:nth-child(3) {
  display: inline-grid;
}

@-webkit-keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
/*#endregion PAGE TABS*/

/*#region WEEK SELECTION*/
.week-select-grid {
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  padding: 10px 0;
}

.select-menu {
  --icon-active: #3F4656;
  --list: #00619f;
  --list-text: rgba(255, 255, 255, .35);
  --list-text-hover: rgba(255, 255, 255, .75);
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  box-shadow: var(--box-shadow);
}

.select-menu select,
.select-menu .button {
  font-family: inherit;
  margin: 0;
  border: 0;
  text-align: left;
  text-transform: none;
  -webkit-appearance: none;
  appearance: none;
}

.select-menu select {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  padding: 8px 36px 8px 12px;
  visibility: hidden;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
}

.select-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  transform: translateY(var(--t));
  transition: opacity 0.3s ease, transform 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.1);
}

.select-menu ul li {
  padding: 8px 36px 8px 12px;
  cursor: pointer;
}

.select-menu>ul {
  background: var(--list);
  color: var(--list-text);
  border-radius: 6px;
}

.select-menu>ul li {
  transition: color 0.3s ease;
}

.select-menu>ul li:hover {
  color: var(--list-text-hover);
}

.select-menu .button {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  z-index: 1;
  width: 100%;
  display: block;
  overflow: hidden;
  border-radius: 6px;
  color: var(--text);
  background: var(--blue);
}

.select-menu .button em {
  --r: 45deg;
  display: block;
  position: absolute;
  right: 12px;
  top: 0;
  width: 7px;
  height: 7px;
  margin-top: 13px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.select-menu .button em:before,
.select-menu .button em:after {
  --o: .4;
  content: "";
  width: 7px;
  height: 7px;
  opacity: var(--o);
  display: block;
  position: relative;
  transition: opacity 0.2s ease;
  transform: rotate(var(--r)) scale(0.75);
}

.select-menu .button em:before {
  border-left: 2px solid var(--text);
  border-top: 2px solid var(--text);
  top: 1px;
}

.select-menu .button em:after {
  border-right: 2px solid var(--text);
  border-bottom: 2px solid var(--text);
  bottom: 1px;
}

.select-menu:not(.open)>ul {
  opacity: 0;
  pointer-events: none;
}

.select-menu.open.tilt-up {
  -webkit-animation: tilt-up 0.4s linear forwards;
  animation: tilt-up 0.4s linear forwards;
}

.select-menu.open.tilt-up .button em:before {
  --o: 1;
}

.select-menu.open.tilt-down {
  -webkit-animation: tilt-down 0.4s linear forwards;
  animation: tilt-down 0.4s linear forwards;
}

.select-menu.open.tilt-down .button em:after {
  --o: 1;
}

@-webkit-keyframes tilt-up {

  40%,
  60% {
    transform: perspective(500px) rotateX(8deg);
  }
}

@keyframes tilt-up {

  40%,
  60% {
    transform: perspective(500px) rotateX(8deg);
  }
}

@-webkit-keyframes tilt-down {

  40%,
  60% {
    transform: perspective(500px) rotateX(-8deg);
  }
}

@keyframes tilt-down {

  40%,
  60% {
    transform: perspective(500px) rotateX(-8deg);
  }
}

/*#endregion WEEK SELECTION*/

/*#region EVENT CALENDER*/
.event-ul {
  list-style: none;
  padding-inline-start: 0;
}

.event-container {
  max-width: 1000px;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-self: center;
  display: none;
  -webkit-animation-name: content;
  animation-name: content;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.rsvp-button {
  width: 75px;
  height: 100%;
  background-color: var(--blue);
  color: var(--text);
  border: none;
  border-radius: var(--border-radius);
}

.responsive-table li {
  border-radius: var(--border-radius);
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
}

.responsive-table .table-header {
  background-color: var(--green);
  color: var(--text);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  box-shadow: var(--box-shadow);
}

.responsive-table .table-row {
  background-color: var(--text);
  box-shadow: var(--box-shadow);
}

.responsive-table .col-1 {
  flex-basis: 10%;
}

.responsive-table .col-2 {
  flex-basis: 40%;
}

.responsive-table .col-3 {
  flex-basis: 25%;
}

.responsive-table .col-4 {
  flex-basis: 25%;
}
/*#endregion EVENT CALENDER*/

/*#region RSVP BUTTON*/
button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: var(--blue);
  border: 2px solid var(--blue);
  color: var(--text);
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  color: var(--blue);
  background: var(--text);
}
button:active {
  letter-spacing: 2px;
  color: var(--text);
  background: var(--blue);
}
button:after {
  content: "RSVP";
}

.rsvp-onClick {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  background: var(--text);
  border-left-color: var(--blue);
  -webkit-animation: rotating 2s 0.25s linear infinite;
          animation: rotating 2s 0.25s linear infinite;
}
.rsvp-onClick:after {
  content: "";
}
.rsvp-onClick:hover {
  color: var(--blue);
  background: white;
}

.rsvp-validate {
  font-size: 13px;
  color: var(--text);
  background: var(--green);
  border-color: var(--green);
}
.rsvp-validate:after {
  font-family: "FontAwesome";
  content: "ï€Œ";
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*#endregion RSVP BUTTON*/








/*#region MOBILE RESPONSIVENESS*/
@media all and (max-width: 767px) {
  .main {
    /*grid-template-rows: 100%;*/
    padding: 7.5% 2.5% 2.5%;
    align-items: baseline;
  }

  .tabs-ul li label {
    padding: 5px;
    border-radius: var(--border-radius);
  }

  .tabs-ul li label span {
    display: none;
  }

  .tabs .slider {
    display: none;
  }

  .tabs input[name=tab-control]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
    background: rgba(0, 0, 0, 0.08);
  }

  .tabs input[name=tab-control]:nth-of-type(2):checked~ul>li:nth-child(2)>label {
    background: rgba(0, 0, 0, 0.08);
  }

  .tabs input[name=tab-control]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
    background: rgba(0, 0, 0, 0.08);
  }

  .tabs .content {
    margin-top: 20px;
  }

  .tabs .content section h1 {
    display: block;
    font-size: calc(2vw + 0.75vh);
  }

  .tab-grids {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    transform: scaleY(-1);
  }

  .tab-content {
    display: block;
  }

  #tab-planning-intro {
    transform: scaleY(-1);
  }

  .main-image {
    transform: scaleY(-1);
  }

  .responsive-table .table-header {
    display: none;
  }

  .responsive-table li {
    display: block;
  }

  .responsive-table .col {
    flex-basis: 100%;
  }

  .responsive-table .col {
    padding: 10px 0;
  }

  .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}

@media all and (max-width: 1000px) {
  .tabs-ul li label {
    white-space: initial;
  }

  .tabs-ul li label br {
    display: initial;
  }

  .tabs-ul li label svg {
    height: 1.5em;
  }
}
/*#endregion MOBILE RESPONSIVENESS*/