/*#region MAIN STYLES*/
:root {
  --white: #fff;
  --white-hover: #ffffff8a;
  --blue: #008ae3;
  --blue-hover: #0088e3b2;
  --disabled: #C3C8DE;
  --background: #2d2d2d;
  --background-light: #2d2d2db0;
  --green: #00aa63;
  --red: #d53d3d;
  --border-radius: 15px;
  --box-shadow: 0 0 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --dropdown-background: #222429;
  --dropdown-border: #494d59;
  --dropdown-transition-time: 0.4s;
  --dropdown-transition-timing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

body,
html {
  background-color: var(--background);
  font-family: 'Open Sans';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.login-page {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--background-light);
  display: none;
  -webkit-animation-name: content;
  animation-name: content;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.main-page {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-items: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow: overlay;
}

.show {
  display: inline-grid !important;
}

.hide {
  display: none !important;
}

.disable-click {
  pointer-events: none;
}

h2 {
  color: var(--green);
  font-size: calc(2vw + 1.25vh);
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-weight: normal;
}

h4 {
  color: var(--red);
  font-size: 16px;
  text-align: center;
  margin: auto;
}

p {
  color: var(--white);
  padding: 0 20px 10px;
  font-size: calc(1vw + 1vh);
  text-align: center;
}

.planning-image {
  height: auto;
  max-width: 90%;
  max-height: 90%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: #fff;
}

.fa-solid {
  padding-right: 5px;
}

/*#endregion MAIN STYLES*/

/*#region LOADING*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  background: var(--background);
  opacity: 1;
}

.fadeIn {
  animation: fadeIn .025s linear forwards;
}

.fadeOut {
  animation: fadeOut .2s linear forwards;
  pointer-events: none;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 10px;
  background: var(--blue);
  border-radius: 100%;
  display: inline-block;
  animation: slide 1s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0.1s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.3s;
}

.dot:nth-child(4) {
  animation-delay: 0.4s;
}

.dot:nth-child(5) {
  animation-delay: 0.5s;
}

@-moz-keyframes slide {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.75);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes slide {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.75);
  }

  100% {
    transform: scale(1);
  }
}

@-o-keyframes slide {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.75);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes slide {
  0% {
    transform: scale(1);
  }

  50% {

    transform: scale(1.75);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*#endregion LOADING*/

/*#region LOGIN SCREEN*/
.login-wrapper {
  max-width: 445px;
  height: 60vh;
  max-height: 650px;
  background: var(--white);
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: inline-grid;
  justify-content: center;
  align-content: center;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.login-close-button {
  outline: 0;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 32px;
  height: 32px;
  border: 0;
  background: 0;
  padding: 0;
  cursor: pointer;
  fill: var(--background);
}

.login-close-button>svg:hover {
  fill: var(--blue);
}

.login-error {
  animation-name: login-error;
  animation-duration: .5s;
  transform-origin: 50% 50%;
  animation-iteration-count: 1;
  border-color: var(--red) !important;
  color: var(--red) !important;
}

.login-error-msg {
  display: flex;
  margin: 10px 0 0;
}

@keyframes login-error {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.login-wrapper .login-title-text {
  display: flex;
  width: 200%;
}

.login-wrapper .login-title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: var(--background);
}

.login-wrapper .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 90%;
  overflow: hidden;
  margin: 30px auto 10px auto;
  border: 1px solid lightgrey;
  border-radius: var(--border-radius);
}

.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}

.slide-controls label.signup {
  color: var(--background);
}

.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  /*background: -webkit-linear-gradient(left,#003366,#004080,#0059b3, #0073e6);*/
  background: var(--green);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="radio"] {
  display: none;
}

#signup:checked~.slider-tab {
  left: 50%;
}

#signup:checked~label.signup {
  color: var(--white);
  cursor: default;
  user-select: none;
}

#signup:checked~label.login {
  color: var(--background);
}

#login:checked~label.signup {
  color: var(--background);
}

#login:checked~label.login {
  cursor: default;
  user-select: none;
}

.login-wrapper .login-form-container {
  width: 100%;
  overflow-x: hidden;
}

.login-form-container .login-form-inner {
  display: flex;
  width: 200%;
}

.login-form-container .login-form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.login-form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  display: inline-flex;
}

.login-form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}

.login-form-inner form .field input:focus {
  border-color: var(--blue);
  /* box-shadow: inset 0 0 3px #fb6aae; */
}

.login-form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}

form .field input:focus::placeholder {
  color: var(--blue);
}

.login-form-inner form .pass-link {
  margin-top: 5px;
}

.login-form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
}

.login-form-inner form .pass-link a,
.login-form-inner form .signup-link a {
  color: var(--blue);
  text-decoration: none;
}

.login-form-inner form .pass-link a:hover,
.login-form-inner form .signup-link a:hover {
  text-decoration: underline;
  cursor: pointer;
}

form .btn {
  height: 50px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  /*background: -webkit-linear-gradient(right,#003366,#004080,#0059b3, #0073e6);*/
  background: var(--blue);
  border-radius: 15px;
  transition: all 0.4s ease;
  ;
}

form .btn:hover .btn-layer {
  left: 0;
  background: var(--blue-hover);
}

form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: var(--white);
  padding-left: 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.file-upload-wrapper {
  position: relative;
  width: 100%;
  height: 60px;
}

.file-upload-wrapper:after {
  content: attr(data-text);
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--white);
  padding: 12px 18px;
  display: block;
  width: calc(100% - 40px);
  pointer-events: none;
  z-index: 20;
  color: #999;
  font-weight: 300;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  border-radius: 15px;
  outline: none;
}

.file-upload-wrapper:before {
  content: "Upload";
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  height: 50px;
  background: var(--green);
  color: var(--white);
  font-weight: 700;
  z-index: 25;
  font-size: 16px;
  line-height: 50px;
  padding: 0 15px;
  text-transform: uppercase;
  pointer-events: none;
  border-radius: 0 15px 15px 0;
  outline: solid;
}

.file-upload-wrapper:hover:before {
  background: var(--white);
  color: var(--green);
}

.file-upload-wrapper input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 40px;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  width: 100%;
}

/*#endregion LOGIN SCREEN*/

/*#region PAGE TABS*/
.tabs {
  position: relative;
  background: none;
  width: 95%;
  height: 95%;
  border-radius: var(--border-radius);
  min-width: 240px;
}

.tab-content {
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
}

.tab-grids {
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

#tab-planning-intro {
  margin: auto;
}

.tabs input[name=tab-control] {
  display: none;
}

.tabs .content section h1,
.tabs ul li label {
  color: var(--background-light);
  font-size: calc(1vw + 0.75vh);
  padding: 5px;
  text-transform: uppercase;
}

.tabs-ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--green);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  min-height: 40px;
  margin: auto;
  z-index: 2;
  position: relative;
}

.tabs-ul li {
  box-sizing: border-box;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}

.tabs-ul li label {
  transition: all 0.3s ease-in-out;
  color: var(--background-light);
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tabs-ul li label br {
  display: none;
}

.tabs-ul li label svg {
  fill: var(--background-light);
  height: 1.2em;
  vertical-align: top;
  margin-right: .2em;
  transition: all 0.2s ease-in-out;
}

.tabs-ul li label:hover,
.tabs-ul li label:focus,
.tabs-ul li label:active {
  outline: 0;
  color: var(--white-hover);
}

.tabs-ul li label:hover svg,
.tabs-ul li label:focus svg,
.tabs-ul li label:active svg {
  fill: var(--white-hover);
}

.tabs .slider {
  position: relative;
  z-index: 2;
  width: 25%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

.tabs .slider .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: var(--white);
  border-radius: var(--border-radius);
}

.tabs .content {
  margin-top: 30px;
}

.tabs .content section {
  display: none;
  -webkit-animation-name: content;
  animation-name: content;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  line-height: 1.4;
  width: 100%;
}

.tabs .content section h1 {
  color: var(--green);
  display: none;
}

.tabs .content section h1::after {
  content: "";
  position: relative;
  display: block;
  width: 25%;
  height: 3px;
  background: var(--white);
  border-radius: var(--border-radius);
  margin-top: 5px;
  left: 1px;
}

.tabs input[name=tab-control]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
  cursor: default;
  color: var(--white);
}

.tabs input[name=tab-control]:nth-of-type(1):checked~ul>li:nth-child(1)>label svg {
  fill: var(--white);
}

.tabs input[name=tab-control]:nth-of-type(1):checked~.slider {
  transform: translateX(15%);
}

.tabs input[name=tab-control]:nth-of-type(1):checked~.content>section:nth-child(1) {
  display: inline-grid;
}

.tabs input[name=tab-control]:nth-of-type(2):checked~ul>li:nth-child(2)>label {
  cursor: default;
  color: var(--white);
}

.tabs input[name=tab-control]:nth-of-type(2):checked~ul>li:nth-child(2)>label svg {
  fill: var(--white);
}

.tabs input[name=tab-control]:nth-of-type(2):checked~.slider {
  transform: translateX(148.5%);
}

.tabs input[name=tab-control]:nth-of-type(2):checked~.content>section:nth-child(2) {
  display: inline-grid;
}

.tabs input[name=tab-control]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
  cursor: default;
  color: var(--white);
}

.tabs input[name=tab-control]:nth-of-type(3):checked~ul>li:nth-child(3)>label svg {
  fill: var(--white);
}

.tabs input[name=tab-control]:nth-of-type(3):checked~.slider {
  transform: translateX(282.5%);
}

.tabs input[name=tab-control]:nth-of-type(3):checked~.content>section:nth-child(3) {
  display: inline-grid;
}

@-webkit-keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

/*#endregion PAGE TABS*/

/*#region WEEK SELECTION*/
.week-select-grid {
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  padding-bottom: 30px;
  max-width: 1000px;
  justify-self: center;
}

.week-select-grid-overview {
  grid-template-columns: none;
}

.open {
  max-height: 250px !important;
}

.dropdown-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.dropdown-svg {
  height: 25px;
  width: 25px;
  transition: all var(--dropdown-transition-time) var(--dropdown-transition-timing);
  fill: var(--white);
  pointer-events: none;
}

.dropdown-button span {
  pointer-events: none;
}

.text-truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 600px;
}

.flip-arrow {
  transform: rotate(180deg) !important;
}

.dropdown-arrow {
  display: inline-flex;
}

.dropdown-title {
  margin: 0 auto 0 0;
  text-transform: capitalize;
}

.dropdown-button {
  font-size: 24px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.dropdown-button:hover,
.dropdown-button:focus {
  border: 1px solid var(--white);
}

.main-button {
  height: 50px;
  border-radius: var(--border-radius);
  color: var(--white);
  background-color: var(--blue);
  border: 1px solid var(--blue);
  transition: all var(--dropdown-transition-time) var(--dropdown-transition-timing);
  box-shadow: var(--box-shadow);
}

.main-button .dropdown-arrow {
  transition: transform var(--dropdown-transition-time) var(--dropdown-transition-timing);
  margin-left: 28px;
}

.list-button {
  height: 75px;
  transition: color var(--dropdown-transition-time) var(--dropdown-transition-timing);
  border-radius: var(--border-radius);
  color: var(--white);
  overflow: hidden;
  padding: 0 0 0 10px;
}

.dropdown-list-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height var(--dropdown-transition-time) var(--dropdown-transition-timing);
  position: absolute;
  margin-top: 40px;
  width: 95%;
  max-width: 600px;
}

.dropdown-list-wrapper {
  margin-top: 16px;
  padding: 16px;
  background-color: var(--dropdown-background);
  border-radius: var(--border-radius);
  border: 1px solid var(--dropdown-border);
  position: relative;
}

ul.dropdown-list {
  position: relative;
  list-style-type: none;
  overflow: auto;
  height: 150px;
  margin-block: 0;
  padding-inline-start: 0;
}

li.dropdown-list-item {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.8s var(--dropdown-transition-timing);
  border: 1px solid var(--dropdown-border);
  border-radius: var(--border-radius);
  margin: 10px 0;
}

/*#endregion WEEK SELECTION*/

/*#region EVENT CALENDER*/
.event-ul {
  list-style: none;
  padding-inline-start: 0;
}

.container-holders {
  display: contents;
}

.event-container {
  max-width: 1000px;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-self: center;
  display: none;
  -webkit-animation-name: content;
  animation-name: content;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 0.5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.planning-header {
  background: var(--background);
  box-shadow: var(--box-shadow);
  display: block !important;
}

.overview-days {
  padding: 0 !important;
}

.responsive-table li {
  border-radius: var(--border-radius);
  padding: 25px 30px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
  align-items: center;
}

.responsive-table .table-header {
  background-color: var(--green);
  color: var(--white);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  box-shadow: var(--box-shadow);
}

.responsive-table .table-row {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: var(--background);
  color: var(--white);
}

.clickable-row:active {
  background-color: var(--blue);
  color: var(--white);
}

.responsive-table .col {
  flex-basis: 20%;
}

/*#endregion EVENT CALENDER*/

/*#region PROFILE PAGE*/
.profile-header {
  background-color: var(--background);
  box-shadow: var(--box-shadow);
}

.profile-image {
  height: auto;
  max-width: 50%;
  max-height: 90%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--white);
}

.profile-col {
  flex-basis: 35%;
  color: var(--white);
}

.profile-row {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  display: block !important;
  font-size: calc(1vw + 1vh);
}

.prof-info::before {
  color: var(--background-light);
  padding-right: 5px;
  content: attr(data-label);
  flex-basis: 50%;
  text-align: right;
}

/*#endregion PROFILE PAGE*/

/*#region BUTTONS*/
/*Rsvp Button*/
.rsvp-button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 110px;
  border-radius: 40px;
  background: var(--green);
  border: 2px solid var(--green);
  color: var(--white);
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}

.rsvp-button:hover {
  color: var(--background);
  background: var(--white);
}

.rsvp-button:active {
  letter-spacing: 2px;
}

.rsvp-button:after {
  content: "RSVP";
}

.rsvp-cancel-button {
  background: var(--red);
  border: 2px solid var(--red);
}

.rsvp-cancel-button:after {
  content: "Cancel RSVP";
}

.button-onClick {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  background: var(--white);
  border-left-color: var(--green);
  -webkit-animation: rotating 2s 0.25s linear infinite;
  animation: rotating 2s 0.25s linear infinite;
}

.button-onClick:after {
  content: "";
}

.button-onClick:hover {
  color: var(--blue);
  background: white;
}

.rsvp-validate {
  font-size: 13px;
  color: var(--white);
  background: var(--green);
  border-color: var(--green);
}

.rsvp-validate:after {
  font-family: "FontAwesome";
  content: "";
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*Contact Button*/
.contact-button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 100px;
  border-radius: 40px;
  background: var(--green);
  border: 2px solid var(--green);
  color: var(--white);
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}

.contact-button:hover {
  color: var(--background);
  background: var(--white);
}

.contact-button:active {
  letter-spacing: 2px;
  color: var(--white);
  background: var(--green);
}

.contact-button:after {
  content: "Contact";
}

/*Sign Out Button*/
.signout-button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 100px;
  border-radius: 40px;
  background: var(--green);
  border: 2px solid var(--green);
  color: var(--white);
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}

.signout-button:hover {
  color: var(--background);
  background: var(--white);
}

.signout-button:active {
  letter-spacing: 2px;
  color: var(--white);
  background: var(--green);
}

.signout-button:after {
  content: "Sign Out";
}

/*Edit Info Button*/
.editinfo-button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 100px;
  border-radius: 40px;
  background: var(--green);
  border: 2px solid var(--green);
  color: var(--white);
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}

.editinfo-button:hover {
  color: var(--background);
  background: var(--white);
}

.editinfo-button:active {
  letter-spacing: 2px;
  color: var(--white);
  background: var(--green);
}

.editinfo-button:after {
  content: "Edit Info";
}

/*Guest Button*/
.counter {
  width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  height: 40px;
  border-radius: 40px;
}

.counter input {
  width: 25px;
  border: 0;
  line-height: 20px;
  font-size: 20px;
  text-align: center;
  background: var(--green);
  color: var(--white);
  appearance: none;
  outline: 0;
}

.counter span {
  display: block;
  padding: 0 10px;
  cursor: pointer;
  color: var(--white);
  user-select: none;
  font-size: 18px;
}

.guest-up {
  width: 15px;
}

.guest-down {
  width: 15px;
}

.guest-up:hover {
  background-color: var(--background);
  border-radius: var(--border-radius);
}

.guest-down:hover {
  background-color: var(--background);
  border-radius: var(--border-radius);
}

/*#endregion BUTTONS*/

/*#region MOBILE RESPONSIVENESS*/
@media all and (max-width: 767px) {
  .login-wrapper {
    transform: scale(0.75);
  }

  .main-page {
    /*grid-template-rows: 100%;*/
    padding: 7.5% 2.5% 2.5%;
    align-items: baseline;
  }

  .tabs-ul li label {
    padding: 5px;
    border-radius: var(--border-radius);
  }

  .tabs-ul li label span {
    display: none;
  }

  .tabs .slider {
    display: none;
  }

  .tabs input[name=tab-control]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
    background: rgba(0, 0, 0, 0.08);
  }

  .tabs input[name=tab-control]:nth-of-type(2):checked~ul>li:nth-child(2)>label {
    background: rgba(0, 0, 0, 0.08);
  }

  .tabs input[name=tab-control]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
    background: rgba(0, 0, 0, 0.08);
  }

  .tabs .content {
    margin-top: 20px;
  }

  .tabs .content section h1 {
    display: block;
    font-size: calc(2vw + 0.75vh);
  }

  .week-select-grid {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }

  .tab-grids {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    transform: scaleY(-1);
  }

  .tab-content {
    display: block;
  }

  .responsive-table .table-header {
    display: none;
  }

  .responsive-table li {
    display: block;
  }

  .responsive-table .col {
    flex-basis: 100%;
  }

  .responsive-table .col {
    padding: 10px 0;
  }

  .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}

@media all and (max-width: 1000px) {
  .tabs-ul li label {
    white-space: initial;
  }

  .tabs-ul li label br {
    display: initial;
  }

  .tabs-ul li label svg {
    height: 1.5em;
  }
}

@media all and (min-width: 768px) {
  #host-list-container {
    width: 47.5%;
    max-width: 475px;
  }

  #week-list-container {
    width: 47.5%;
    max-width: 475px;
  }
}

/*#endregion MOBILE RESPONSIVENESS*/